.home-page {
  display: flex;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232323;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #818181;
}

.sidenav button {
  font-size: 20px;
  background-color: #ffcc00;
  border: none;
  color: #232323;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-bottom: 10px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #ffcc00;
}

.navbar {
  width: 100%;
  background: yellow;
  color: orange;
  font-family: 'Pacifico', cursive;
}

.memory-sticker {
  background: yellow;
  color: orange;
  font-family: 'Amatic SC', cursive;
  border: 2px solid orange;
  border-radius: 10px;
}

.bucket-list-tab {
  background: orange;
  color: yellow;
  font-family: 'Pacifico', cursive;
  border: 2px solid yellow;
  border-radius: 10px;
}

.accordion {
  background: yellow;
  color: orange;
  font-family: 'Amatic SC', cursive;
  border: 2px solid orange;
  border-radius: 10px;
}
